<div id="tee_time_list">
  <div class="well col-md-6">
    <div class="table-responsive col-md-8 fit-width">
      <table class="table">
        <thead>
          <tr>
            <th>Time Date</th>
            <th>Unit Price</th>
          </tr>
        </thead>
        <tbody>
          <% @tee_times.each do |tee_time| %>
          <tr>
            <td><%= tee_time.tee_off_at %></td>
            <td><%= tee_time.unit_price %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
