<div id="tee_time_list">
  <div class="well col-md-6">
    <div class="table-responsive col-md-8 fit-width">
      <table class="table">
        <thead>
          <tr>
            <th>Time</th>
            <th>Course</th>
            <th>Location</th>
            <th>Date</th>
            <th>Unit Price</th>
            <th>Book</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
