<div>
  <header>
    <h1>EarlyBird</h1>
    <nav>
      <ul>
        <li>Tee Times</li>
        <li>Courses</li>
        <li>Settings</li>
        <li>Log Out</li>
        <li>Log In</li>
      </ul>
    </nav>
  </header>
  <main>
    <div>
      <h3>Find It</h3>
      <p>Find a course.</p>
    </div>
    <div>
      <h3>Book It</h3>
      <p>Book a tee time.</p>
    </div>
    <div>
      <h3>Play It</h3>
      <p>Play golf.</p>
    </div>
  </main>
</div>
