<div class='home'>
  <header>
    <h1>EarlyBird</h1>
    <nav>
      <ul>
        <li>Tee Times</li>
        <li>Courses</li>
        <% if current_user %>
        <li>Settings</li>
        <li>Hello, <strong><%= current_user.name %></strong>!</li>
        <li><%= link_to "Log out", logout_path, id: "sign_out" %></li>
        <% else %>
        <li><%= link_to "Log in with Google", "/auth/google_oauth2", id: "log_in" %></li>
        <% end %>
      </ul>
    </nav>
  </header>
  <main>
    <div>
      <h3>Find It</h3>
      <p>Find a course.</p>
    </div>
    <div>
      <h3>Book It</h3>
      <p>Book a tee time.</p>
    </div>
    <div>
      <h3>Play It</h3>
      <p>Play golf.</p>
    </div>
  </main>
</div>
