<div class='home'>
  <%= render partial: 'shared/header' %>
  <main>
    <div>
      <h3>Find It</h3>
      <p>Find a course.</p>
    </div>
    <div>
      <h3>Book It</h3>
      <p>Book a tee time.</p>
    </div>
    <div>
      <h3>Play It</h3>
      <p>Play golf.</p>
    </div>
  </main>
</div>
