<div>
  <h1 class="courses"><strong>Order History</strong></h1>
  <div class="well col-md-7 table-responsive">
    <table class="table">
      <thead>
        <td>Order Number</td>
        <tr>
          <th>Date Placed</th>
          <th>Players</th>
          <th>Total</th>
        </tr>
        <td>
          <%= link_to "Order Details", orders_path, class:'btn btn-primary' %>
        </td>
      </thead>
    </table>
  </div>
</div>
