<div class='container-fluid'>
<!-- web -->
  <div class="row settings text-center web">
    <h1 id='player-header'>Edit Player</h1>
    <%= render '/shared/player_form_web' %>
  </div>
<!-- mobile -->
  <div class="row text-center mobile">
    <h1>Edit Player</h1>
    <%= render '/shared/player_form_mobile' %>
  </div>
</div>
