<div class="page-content">
  <h1 class="courses"><strong>Courses</strong></h1>
  <div>
    <% @courses.each do |course| %>
    <div class ="well col-md-3 text-center">
      <p><%= image_tag(course.image , alt: "#{course.name} pic", class: 'img-thumbnail course-image') %></p>
      <p><%= course.name %></p>
      <p><%= course.location %></p>
      <p><%= link_to 'View Course', course_path(course.id), class: 'btn btn-primary btn-sm' %></p>
    </div>
    <% end %>
  </div>
</div>
