<div class="page-content">
  <h1 class="course"><strong>Course Name</strong></h1>
  <div>
    <div class ="well col-md-3 text-center">
      <p>Course Image</p>
      <p>Course Name</p>
      <p>Course Location</p>
      <h1>
        <%= @course_tee_times.first.unit_price %>
        <%= @courses.first.name %>
      </h1>
    </div>
  </div>
</div>
